<!--The content below is only a placeholder and can be replaced.-->
<div>
  <button 
    (click)="chart.fetch()" 
    [disabled]="chart.loading$ | async"
  >data1</button>
  <div>
    <chart-bar
      [data]="chart.data$ | async"
      width="800"
      height="300"
    ></chart-bar>
  </div>
  <div>
    <chart-pie
      [data]="chart.data$ | async"
      width="800"
      height="400"
    ></chart-pie>
  </div>
  <button 
    (click)="chart.fetchAnother()"
    [disabled]="chart.loading2$ | async"
  >data2</button>
  <div>
    <chart-line
      [data]="chart.data2$ | async"
      width="800"
      height="300"
    ></chart-line>
  </div>
  <div [style.height]="'400px'">

  </div>
</div>